*, *:before, *:after {
    box-sizing: inherit;
    font-family: "Noto Sans JP",sans-serif;
}

body{ /*eliminar*/
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.container{ 
    width: 800px;
    background-color: white;
}

section a{
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: left;
    border-radius: 6px;
    outline: none;
    margin-bottom: 0.2rem;
    font-weight: bold;
}

div .input-group-prepend,input-group-sm,mb-3{
    margin-left: 0.2rem;
}

div .input-group{
    margin-bottom: 0.2rem;
}

section a::after{
    content: '+';
    float: right;
}

section a:hover{
    color: white;
    text-decoration: none;
    border: 1px;
}

.entrada{
    margin: 0.2rem;
}

.entrada button{
    float: right;
    margin: 0.2rem;
}

.btn-group{
    float: right;
    margin-bottom: 0.2rem;
}

div .contenido{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    background-color: white;
    transition:all .2s;
    
}

div:target .contenido{
    max-height: 500px;
    padding: 10px;
}

div:target a::after{
    content: '-';
}

/*eliminar*/
@media (min-width: 480px) {
    .container{
        padding-top: 80%;
        width: auto;
    }
}

/* *{
    box-sizing: border-box;
    font-family: "Noto Sans JP",sans-serif;
}

body{
    padding-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

menu{
    margin-bottom: 1rem;
}

.container{ 
    width: 800px;
    background-color: white;
    margin-bottom: 1rem;
}

section a{
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: left;
    border-radius: 6px;
    outline: none;
    margin: 0px 0px -1px;
}

section a::after{
    content: '+';
    float: right;
}

section a:hover{
    color: white;
    text-decoration: none;
}

.entrada{
    padding: 0.1rem;
}

.entrada button{
    float: right;
}

.btn-group{
    float: right;
}

div .contenido{
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    background-color: white;
    transition:all .2s;
}

div:target .contenido{
    max-height: 500px;
    padding: 10px;
}

div:target a::after{
    content: '-';
}


@media (min-width: 480px) {
    .container{
        padding-top: 70%;
        width: auto;
    }
}
*/